__pycache__/
._*
*.pyc
.DS_Store
.env
resources/tmp/current_projekt_bookmarks.json
resources/tmp/current_projekt_creation_log
resources/tmp/current_projekt_parameters.xml
resources/tmp/current_projekt_template.json
resources/tmp/current_projekt_template.json.bak
